<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img src="./img/kashish.jpg" alt="Failed to load the image">
        <p id="introduction">
            I am Kashish Mehndiratta. I am persuing my <strong>Bachelor
            of Technology</strong> in <strong>Electronics and Communication</strong>
            from <strong>NIT Jalandhar.</strong>
            <br>
            I like software development and seeks to make career in it.
        </p>
    </div>
    {{>footer}}
</body>
</html>