<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sources</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="sources">
            <a  href="https://docs.mapbox.com/api/search/#geocoding" class="sourceHeadings">Geocoding Mapbox Api</a>
            <br>
            <br>
            <a href="https://darksky.net/dev/docs" class="sourceHeadings">Dark Sky Api</a>
        </div>
    </div>

    {{>footer}}
</body>
</html>