<header>
    <h1>{{title}}</h1>
    <div>
        <a href= "/" class= "navlinks">Weather</a>
        <a href= "/about" class= "navlinks">About</a>
        <a href= "/sources" class= "navlinks">Sources</a>
    </div>
</header>
